.popup__text-input {
  height: 27px;
  margin-left: 36px;
  margin-right: 36px;
  margin-bottom: 24px;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  padding-bottom: 5px;
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
}

.popup__text-input:focus {
  outline: none;
}

@media screen and (max-width: 700px) {
  .popup__text-input {
    margin-left: 22px;
    margin-right: 22px;
  }
}
